body{

font-family: Arial;
text-align:center;
background:#f4f6f8;
margin:0;
padding:0;
transition:0.3s;

}

.dark-mode{

background:#121212;
color:white;

}

h1{

margin-top:20px;

}

.search-box{

margin:20px;

}

input{

padding:10px;
width:250px;
margin:5px;

}

button{

padding:10px 15px;
border:none;
background:#24292e;
color:white;
cursor:pointer;

}

button:hover{

background:#000;

}

.profile-card{

background:white;
width:350px;
margin:auto;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);

}

.dark-mode .profile-card{

background:#1e1e1e;

}

.profile-card img{

width:120px;
border-radius:50%;

}

.repo{

background:white;
margin:10px auto;
padding:15px;
width:450px;
border-radius:8px;
box-shadow:0 0 5px rgba(0,0,0,0.1);

}

.dark-mode .repo{

background:#1e1e1e;

}

a{

text-decoration:none;
color:#0366d6;

}

#chart{

max-width:400px;
margin:auto;

}